parameters:
    level: 5
    paths:
        - controllers
        - models
        - services
        - repositories
        - components
    excludePaths:
        - models/*Search.php
    universalObjectCratesClasses:
        - Yii
        - app\models\AuthorSearch
        - app\models\BookSearch
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Call to static method (getAlias|warning|error|info|debug|createObject)\(\) on an unknown class Yii\.#'
        - '#Access to static property \$app on an unknown class Yii\.#'
        - '#Instantiated class app\\models\\(Author|Book)Search not found\.#'
        - '#Call to method search\(\) on an unknown class app\\models\\(Author|Book)Search\.#'
